/* ---------------
			FONTS
 ---------------*/

 body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #283136;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.navigation-panel__items a,
.slider__item-btn,
.order__item a,
.contacts__address-form-btn,
.popup__form-submit-btn,
.sort-panel__submit {
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.slider__item-btn,
.order__item a,
.contacts__address-form-btn,
.popup__form-submit-btn,
.sort-panel__submit {
  color: #ffffff;
}

.slider__item p:first-child,
.catalog-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  margin: 0;
}

.order__item h3,
.popup__form-item label {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.order__item h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.offer__description p:first-child,
.popup h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.offer__description p:nth-child(3),
.offer__features-table caption {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.offer__features-table tr:first-child {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.offer__features-table tr:nth-child(2) {
  line-height: 1.13;
}

.contacts__address h3,
.sort-panel__slider p,
.sort-panel__form legend,
.sample__priority-panel span,
.sample__pages-card-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.social__text b {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.sort-panel__submit {
  color: #000000;
}

.sample__priority-panel-items span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sample__priority-panel-item-active span {
  color: #000000;
}

.sample__navigation-panel,
.sample__pages-card-content-btn {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.sample__pages-card-content-btn {
  color: #ffffff;
}

.sort-panel__price-value-label,
.sample__pages-card p {
  font-size: 16px;
  font-weight: 400;
}

.sort-panel__price-value-label {
  text-transform: uppercase;
}

.sample__pages-card p {
  color: #666666;
}


.popup__form-item input::placeholder,
.popup__form-item textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

/* ----------------------------
		 HOVER & ACTIVE STATES
 -----------------------------*/

.navigation-panel__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.navigation-panel__logo:active {
  opacity: 0.3;
}

.navigation-panel__items a:hover {
  color: #fb565a;
}

.navigation-panel__items a:active {
  color: rgba(36, 20, 20, 0.3);
}

.navigation-panel__items-cart:before {
  content: url(../img/basket-icon.png);
  position: relative;
  top: 2px;
  right: 25px;
}

.slider__item-btn:hover,
.order__item-btn_red:hover,
.contacts__address-form-btn:hover,
.popup__form-submit-btn:hover {
  background-color: #e74246;
}

.slider__item-btn:active,
.order__item-btn_red:active,
.contacts__address-form-btn:active,
.popup__form-submit-btn:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
  color: #e37376;
}

.order__item-btn_green:hover {
  background-color: #00bc6c;
}

.order__item-btn_green:active {
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #009958 inset;
  color: #4dc491;
}

.order__item-btn_yellow:hover {
  background-color: #eab534;
}

.order__item-btn_yellow:active {
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
  color: #edc265;
}

.logos__list-item {
  position: relative;
}

.logos__list-item:not(:last-child)::after {
  position: absolute;
  content: '';
	bottom: 0;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.logos__list-item:first-child::after {
  top: 4px;
  right: -51px;
}

.logos__list-item:nth-child(2)::after {
  top: 18px;
  right: -46px;
}

.logos__list-item:nth-child(3)::after {
  top: 0px;
  right: -58px;
}

.logos__list-item img:hover {
  opacity: 1;
}

.logos__list-item img:active {
  opacity: 0.1;
}

.social__list li:hover {
  background-color: #e74246;
  cursor: pointer;
}

.social__list li:active {
  background-color: #d7373b;
}

.popup__form-input:hover,
.popup__form-textarea:hover {
  border: 2px solid #b4b9bb;
}

.popup__form-input:focus,
.popup__form-textarea:focus {
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}

.popup__form-input:focus::placeholder,
.popup__form-textarea:focus::placeholder {
  color: #000000;
}

.popup__form-close-cross:hover:before {
  opacity: 0.3;
}

.popup__form-submit-btn:hover {
  cursor: pointer;
}

.popup__form-submit-btn:focus {
  outline: none;
}

.popup__form-close-cross:active:before {
  opacity: 0.1;
}

.popup__form-input_error:hover,
.popup__form-input_error:focus {
  border: 2px solid #c13135;
}

.popup__form-input_error:hover::placeholder,
.popup__form-input_error:focus::placeholder {
  color: #c13135;
}

.social__list-item:active:before {
  opacity: 0.3;
}

.social__list-item:active {
  box-shadow: inset 0px 3px 0 0 #c13135;
}

.sort-panel__input-label:hover .sort-panel__radio {
  background-image: url(../img/radio-off.svg);
  opacity: 0.7;
}

.sort-panel__input:checked ~ .sort-panel__input-label:hover .sort-panel__radio {
  background-image: url(../img/radio-on.svg);
  opacity: 0.7;
}

.sort-panel__input:disabled ~ .sort-panel__input-label {
  opacity: 0.4;
}

.sort-panel__input:disabled ~ .sort-panel__input-label .sort-panel__radio {
  opacity: 0.4;
}

.sort-panel__input:checked:disabled ~ .sort-panel__input-label .sort-panel__radio {
  opacity: 0.4;
}

.sort-panel__input-label:hover .sort-panel__checkbox {
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.7;
}

.sort-panel__input:checked ~ .sort-panel__input-label:hover .sort-panel__checkbox {
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.7;
}

.sort-panel__input:disabled ~ .sort-panel__input-label {
  opacity: 0.4;
}

.sort-panel__input:disabled ~ .sort-panel__input-label .sort-panel__checkbox {
  opacity: 0.4;
}

.sort-panel__input:checked:disabled ~ .sort-panel__input-label .sort-panel__checkbox {
  opacity: 0.4;
}

.sort-panel__submit:focus {
  outline: none;
}

.sample__priority-panel-icon-up:hover {
  border-top: 10px solid rgba(0, 0, 0, 0.6);
}

.sample__priority-panel-icon-up:active {
  border-top: 10px solid #000000;
}

.sample__priority-panel-icon-down:hover {
  border-bottom: 10px solid rgba(0, 0, 0, 0.6);
}

.sample__priority-panel-icon-down:active {
  border-bottom: 10px solid #000000;
}

.sample__priority-panel-items span:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sample__priority-panel-items span:active {
  color: #000000;
}

.sample__pages-item:hover .sample__pages-card,
.sample__pages-item:hover:before {
  opacity: 1;
}

.sample__pages-card-title:hover {
  color: #fb565a;
}

.sample__pages-card-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.sample__pages-card-content-btn:hover {
  background-color: #e74246;
  color: #ffffff;
}

.sample__pages-card-content-btn:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
  color: #ffffff;
}

.sample__navigation-panel li:not(.sample__navigation-panel-item-active):hover,
.sort-panel__submit:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.sample__navigation-panel li:not(.sample__navigation-panel-item-active):active,
.sort-panel__submit:active {
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
  color: #959595;
  background-color: #d5d5d5;
}

/* ----------------------------
		BOX MODEL: index + catalog
 -----------------------------*/

.header {
  background-color: #eeeeee;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}

.navigation-panel__items {
  display: flex;
  justify-content: space-between;
  width: 798px;
  padding-top: 29px;
}

.navigation-panel ul {
  display: flex;
  justify-content: space-between;
  width: 438px;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.navigation-panel__item-active {
  border-bottom: 2px solid red;
}

.navigation-panel__items p {
  margin: 0;
}

.slider-wrapper {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding-top: 11px;
}

.slider-inner {
  overflow: hidden;
}

.slider__slides {
  display: flex;
  width: 300%;
}

.slider__item p:first-child {
  padding-top: 60px;
}

.slider__item p:nth-child(2) {
  margin: 0;
  margin-top: 26px;
}

.slider__item-btn {
  display: inline-block;
  position: absolute;
  bottom: 19%;
  padding: 13px 55px;
  background-color: #fb565a;
  border-radius: 4px;
}

.slider .slider__item {
  width: 1160px;
  padding-bottom: 170px;
  background-position-x: 93%;
  background-size: 698px 413px;
  background-repeat: no-repeat;
}

.slider .slider__item:first-child {
  background-image: url(../img/slide-picture-1.png);
}

.slider .slider__item:nth-child(2) {
  background-image: url(../img/slide-picture-2.png);
}

.slider .slider__item:nth-child(3) {
  background-image: url(../img/slide-picture-3.png);
}

.slider__input-1:checked ~ .slider-inner .slider__slides {
  transform: translate(0);
}

.slider__input-2:checked ~ .slider-inner .slider__slides {
  transform: translate(-1160px);
}

.slider__input-3:checked ~ .slider-inner .slider__slides {
  transform: translate(-2320px);
}

.slider input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.slider__controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 88px;
  bottom: 22%;
  left: 46.2%;
  z-index: 1;
}

.slider__controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__input-1:checked ~ .slider__controls .slider__controls-label-1,
.slider__input-2:checked ~ .slider__controls .slider__controls-label-2,
.slider__input-3:checked ~ .slider__controls .slider__controls-label-3 {
  background-image: url(../img/active-button.png);
  background-position: center;
  background-repeat: no-repeat;
}

.order {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.order .order__item:not(:nth-child(2)) {
  margin-left: 100px;
}

.order__item h3 {
  margin: 0;
  margin-top: 15px;
}

.order__item p {
  width: 280px;;
  margin-top: 14px;
}

.order__item a {
  display: inline-block;
  margin-top: 16px;
  padding: 13px 40px;
  border-radius: 4px;
}

.order__item-btn_red {
  background-color: #fb565a;
}

.order__item-btn_green {
  background-color: #00ca74;
}

.order__item-btn_yellow {
  background-color: #efc84a;
}

.offer {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 53px;
  border-bottom: 2px solid #eeeeee;
}

.offer__description {
  width: 650px;
  padding-top: 30px;
}

.offer__description p:first-child {
  margin-bottom: 0px;
}

.offer__description p:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 0;
}

.offer__description p:nth-child(3) {
  margin-top: 39px;
}

.offer__description-list {
  margin-top: 25px;
  padding-left: 0px;
}

.offer__description-list li {
  padding-left: 36px;
  background-image: url(../img/li-marker.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
}

.offer__description-list li:not(:first-child) {
  margin-top: 25px;
}

.offer__features {
  padding-top: 40px;
}

.offer__features-table caption {
  margin-top: 29px;
  margin-left: 5px;
}

.offer__features-table tr:first-child td {
  padding-top: 26px;
  padding-right: 16px;
}

.offer__features-table sup {
  font-size: 29px;
}

.offer__features-table tr:nth-child(2) td {
  width: 116px;
  padding-top: 5px;
}

.logos {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 79px;
}

.logos__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 39px;
  padding-left: 0;
  border-bottom: 2px solid #eeeeee;
}

.logos__list-item img {
  opacity: 0.2;
}

.logos__list li:first-child {
  margin-top: 21px;
  margin-left: 32px;
}

.logos__list li:nth-child(2) {
  margin-top: 5px;
  margin-right: 7px;
}

.logos__list li:nth-child(3) {
  margin-top: 24px;
  margin-right: 25px;
}

.logos__list li:nth-child(4) {
  margin-top: 11px;
  margin-right: 42px;
}

.contacts {
  position: relative;
  max-width: 1440px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__map {
  width: 100%;
  min-width: 1200px;
  border: none;
}

.contacts__address {
  display: inline-block;
  position: absolute;
  top: 12%;
  left: 20%;
  margin-left: -150px;
  padding-top: 33px;
  padding-right: 50px;
  padding-bottom: 48px;
  padding-left: 50px;
  background-color: #ffffff;
}

.contacts__address p {
  width: 201px;
  margin-top: 24px;
  line-height: 1.2;
}

.contacts__address-tel {
  display: block;
  color: #283136;
}

.contacts__address-form-btn {
  display: inline-block;
  margin-top: 33px;
  padding: 13px 45px;
  background-color: #fb565a;
  border-radius: 4px;
}

.social {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 58px;
  padding-bottom: 69px;
}

.social__list {
  display: flex;
  margin-top: 3px;
  padding-left: 0;
  font-size: 0;
}

.social__list-item {
  position: relative;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__list-item:not(:first-child) {
  margin-left: 12px;
}

.social__list-vk:before,
.social__list-facebook:before,
.social__list-instagram:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.social__list-vk:before {
  background-image: url(../img/vk-icon.svg);
}

.social__list-facebook:before {
  background-image: url(../img/fb-icon.svg);
}

.social__list-instagram:before {
  background-image: url(../img/insta-icon.svg);
}

.social__text {
  margin-left: 139px;
}

.social__text p {
  margin: 0;
}

.popup {
  display: none;
  z-index: 2;
  width: 960px;
  padding-top: 63px;
  padding-bottom: 83px;
  background-color: #ffffff;
  box-shadow: 0px 9px 23px 10px rgba(0, 0, 0, 0.35);
}

.popup-open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -480px;
  animation: bounce 0.6s;
}

.popup__form {
  position: relative;
}

.popup h3 {
  margin: 0;
}

.popup__form-wrapper {
  display: flex;
  justify-content: space-between;
}

.popup__form fieldset {
  width: 760px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.popup__form-item {
  display: inline-block;
  width: 360px;
  margin-top: 41px;
}

.popup__form-input {
  width: 330px;
  height: 42px;
  margin-top: 7px;
  padding-left: 13px;
  padding-right: 12px;
  border: 2px solid #d7dcde;
}

.popup__form-fieldset .popup__form-item:nth-child(3) {
  width: 760px;
  margin-top: 16px;
}

.popup__form-textarea {
  width: 728px;
  height: 101px;
  margin-top: 6px;
  padding-top: 13px;
  padding-right: 14px;
  padding-left: 14px;
  resize: none;
  border: 2px solid #d7dcde;
}

.popup__form-submit-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 16px 84px;
  background-color: #fb565a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.popup__form-close-cross {
  position: absolute;
  top: 11px;
  right: 89px;
  bottom: 100%;
  cursor: pointer;
}

.popup__form-close-cross:before {
  content: url("../img/close-cross.png");
}

.popup__form-input_focus {
  border: 2px solid #000000;
}

.popup__form-input_error {
  border: 2px solid #c13135;
  color: #c13135;
}

.popup__form-input_error-shake {
  animation: shake 0.6s;
}

.popup__form-input_error::placeholder {
  color: #c13135;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* ----------------------------
		 BOX MODEL: catalog
 -----------------------------*/

.catalog-title {
  display: flex;
  justify-content: center;
  padding-top: 71px;
  padding-bottom: 108px;
  background-color: #eeeeee;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 39px;
}

.sample {
  width: 760px;
}

.sort-panel {
  display: inline-block;
}

.sort-panel__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.sort-panel__price-scale {
  position: relative;
  margin-top: 31px;
  padding: 40px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.sort-panel__price-scale-line {
  position: absolute;
  left: 27px;
  width: 212px;
  background-color: #d7dcde;
}

.sort-panel__price-scale-gap {
  padding: 1px;
  width: 67%;
  background-color: #00ca74;
}

.sort-panel__price-scale-mark {
  position: absolute;
  top: 31px;
  display: inline-block;
  padding: 8px 8px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.sort-panel__price-scale-mark-start {
  left: 18px;
}

.sort-panel__price-scale-mark-end {
  right: 83px;
}

.sort-panel__price-scale-dot {
  padding: 2px;
  background-color: #ababab;
  border-radius: 50%;
}

.sort-panel__price-value {
  display: flex;
  justify-content: space-between;
}

.sort-panel__price-value div {
  margin-top: 14px;
}

.sort-panel__price-value input {
  width: 50px;
  height: 33px;
  margin-left: 9px;
  padding: 3px 15px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.sort-panel__form-fieldset:nth-child(2) {
  margin-top: 57px;
}

.sort-panel__form-fieldset:nth-child(3) {
  margin-top: 27px;
}

.sort-panel__grid-options,
.sort-panel__features-options {
  padding: 0;
}

.sort-panel__grid-options li:not(:first-child),
.sort-panel__features-options li:not(:first-child) {
  margin-top: 16px;
}

.sort-panel__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.sort-panel__input-label {
  cursor: pointer;
}

.sort-panel__form-fieldset li {
  margin-left: 37px;
}

.sort-panel__radio,
.sort-panel__checkbox {
  position: absolute;
  width: 27px;
  height: 27px;
  margin-left: -37px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sort-panel__radio {
  background-image: url(../img/radio-off.svg);
  opacity: 0.4;
}

.sort-panel__input:checked ~ .sort-panel__input-label .sort-panel__radio {
  background-image: url(../img/radio-on.svg);
  opacity: 0.4;
}

.sort-panel__checkbox {
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
}

.sort-panel__input:checked ~ .sort-panel__input-label .sort-panel__checkbox {
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.4;
}

.sort-panel__submit {
  display: inline-block;
  margin-top: 30px;
  padding: 16px 89px;
  border: none;
  border-radius: 3px;
}

.sample__priority-panel {
  display: flex;
  justify-content: space-between;
}

.sample__priority-panel span {
  margin-top: 15px;
}

.sample__priority-panel-items {
  display: flex;
  justify-content: space-between;
  width: 359px;
}

.sample__priority-panel ul {
  display: flex;
  justify-content: space-between;
  width: 271px;
  padding: 0;
  cursor: pointer;
}

.sample__priority-panel-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.sample__priority-panel-icon {
  border: 6px solid transparent;
  cursor: pointer;
}

.sample__priority-panel-icon-up {
  border-top: 10px solid #000000;
  margin-top: 5px;
}

.sample__priority-panel-icon-down {
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.sample__pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 78px;
  padding: 0;
}

.sample__pages li {
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.sample__pages li:not(:first-child):not(:nth-child(2)) {
  margin-top: 67px;
}

.sample__pages li:before {
  position: absolute;
  top: -38px;
  width: 360px;
  height: 40px;
  content: "";
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}

.sample__pages-card {
  position: absolute;
  bottom: 6px;
  width: 360px;
  min-height: 231px;
  max-height: 300px;
  overflow: auto;
  text-align: center;
  background-color: #eeeeee;
  opacity: 0;
  z-index: 1;
}

.sample__pages-card h3 {
  margin-top: 27px;
}

.sample__pages-card p {
  display: inline-block;
  width: 230px;
  margin: auto;
  line-height: 1;
}

.sample__pages-item:first-child p {
  width: 200px;
}

.sample__pages-item:nth-child(3) p,
.sample__pages-item:nth-child(4) p {
  width: 190px;
}

.sample__pages-card-content-btn {
  display: inline-block;
  margin-top: 26px;
  margin-bottom: 40px;
  padding: 13px 60px;
  background-color: #fb565a;
  border-radius: 3px;
}

.sample__navigation-panel {
  display: flex;
  width: 443px;
  margin-top: 54px;
  padding: 0;
}

.sample__navigation-panel li {
  padding: 13px 20px;
  background-color: #eeeeee;
  border-radius: 3px;
  cursor: pointer;
}

.sample__navigation-panel .sample__navigation-panel-item-active {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 3px #eeeeee;
}

.sample__navigation-panel li:not(:first-child) {
  margin-left: 12px;
}

.sample__navigation-panel li:last-child {
  padding: 13px 78px;
}
